<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://lh3.googleusercontent.com/proxy/Iuh43yKkB5cryTTeDmvkF4kiDY2e7YLjxwS-ki0Phg0ysQ3fq784o6xMds8cYGiQRN5f_uJKTDE4z1gBFZaJPt9fZpzhWN0X6pj0M1ycQGZVKcUZ6XZ7bUAnH6_Ik3UfhBHFOI9m1HkZyZON4A">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Gurpreet Jhamat. It uses data from mapbox.com and weatherstack api to display weather</p>
        {{!-- <img src="https://images.pexels.com/photos/1250426/pexels-photo-1250426.jpeg?cs=srgb&dl=man-wearing-dress-shirt-holding-dandelion-1250426.jpg&fm=jpg" alt="" width="300px"> --}}
       <p>Created by {{name}}</p>
    </div>
    
    {{>footer}}

</body>
</html>